include ../../layouts/header/h-search/_index

mixin languages
  .languages&attributes(attributes)
    .languages__head
      p.languages__select Select languages
      p.languages__cancel Cancel
    .languages__search
      .h-search
        +h-search-form
    .languages__wrap
      -var n = 0
      while (n < 30)
        .languages__item(data=n++)
          .languages__icon
            img(src="img/icon-country/am.png")
          p.languages__text English

