mixin b-favourite
  .b-favourite&attributes(attributes)
    .b-favourite__wrap
      .b-favourite__icon
        svg(width='100%' height='100%' viewBox='0 0 54 52' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M27.2327 42.1417L27 42.0193L26.7673 42.1417L10.9771 50.443L13.9928 32.8604L14.0372 32.6013L13.849 32.4179L1.07448 19.9658L18.7284 17.4005L18.9886 17.3627L19.1049 17.127L27 1.12978L34.8951 17.127L35.0114 17.3627L35.2716 17.4005L52.9255 19.9658L40.151 32.4179L39.9628 32.6013L40.0072 32.8604L43.0229 50.443L27.2327 42.1417Z' stroke='#6C90FC')
      p.b-favourite__text Featured events missing
      a(href="#").b-favourite__link Add
