mixin cs-provider(text)
  .cs-provider&attributes(attributes)
    .cs-provider__board
      img(src="img/casino/small/1.png", alt="")
    if text
      .cs-provider__wrap
        .cs-provider__label 153 games
        .cs-provider__text Red tiger
