.gll-slider {
  @include size(100%, 190px);
  @include flex($direction: column);

  &__wrap {
    flex-grow: 1;
  }

  &__slide {
    display: none;

    &--active {
      display: block;
    }
  }

  &__dots {
    @include flex(center, center);
    @include size(100%, 24px);

    background-color: #fff;
    padding: 10px 0;

    span {
      @include size(16px, 4px);

      margin: 0 5px;
      border-radius: 2px;
      background-color: rgba($blue, 0.5);

      &.active {
        box-shadow: 0 0 4px #a4baff;
        background-color: $blue;
      }
    }
  }
}
