mixin gll-slider
  .gll-slider&attributes(attributes)
    .gll-slider__wrap
      .gll-slider__slide.gll-market__slide--active
        p 2
      .gll-slider__slide
        p 1
      .gll-slider__slide
        p 1
    .gll-slider__dots
      span.active
      span
      span
