---
title: Title
lang: en
hasLink: false
---
extends ../../../layouts/_layout

include ../../../layouts/header/_index
include ../../../partials/b-accept/_index
include ../../../partials/betslip/_index
include ../../../partials/cb-aside/_index
include ../../../partials/ipn-event/_index
include ../../../partials/ipe-team-composition/_index
include ../../../partials/ipe-team-scoreboard/_index
include ../../../partials/ipe-header/_index
include ../../../partials/gll-slider/_index

block content
  +header-in
  .main
    //.ipn-event--active
    +ipn-event
    //.ipe-team-composition--active
    +ipe-team-composition
    //.ipe-team-scoreboard--active
    +ipe-team-scoreboard
    +gll-slider
    +ipe-header

    +betslip
    +b-accept
    +cb-aside
