---
title: Title
lang: en
hasLink: false
---
extends ../../../layouts/_layout

include ../../../layouts/header/_index
include ../../../partials/betslip/_index
include ../../../partials/b-accept/_index
include ../../../partials/ip-header/_index
include ../../../partials/ip-classification-bar/_index
include ../../../partials/cb-aside/_index
include ../../../partials/ip-classification-header/_index
include ../../../partials/wn-banner-slider/_index
include ../../../partials/wn-classification-bar/_index
include ../../../partials/wn-top-matches/_index
block content
  +header-in
  .main
    +wn-banner-slider
    +ip-classification-bar
    +ip-header
    +ip-classification-header-2.ip-classification-header--soccer
    +ip-competition-slider
    //+wn-top-matches
    +ip-classification-header-2.ip-classification-header--basketball
    +ip-competition-slider
    //+wn-top-matches
    +ip-classification-header-2.ip-classification-header--snooker
    +ip-competition-slider
    //+wn-top-matches
    +wn-classification-bar
    +ip-classification-header-3.ip-classification-header--tennis
    +ip-competition-slider
    //+wn-top-matches
    +ip-classification-header-3.ip-classification-header--baseball
    +ip-competition-slider
    //+wn-top-matches
    +ip-classification-header-3.ip-classification-header--ice_hockey
    +ip-competition-slider
    //+wn-top-matches

    +betslip
    +b-accept
    +cb-aside
