mixin betslip-keyboard-big
  .betslip__keyboard&attributes(attributes)
    .betslip__row
      .betslip__key 1
      .betslip__key 2
      .betslip__key 3
    .betslip__row
      .betslip__key 4
      .betslip__key 5
      .betslip__key 6
    .betslip__row
      .betslip__key 7
      .betslip__key 8
      .betslip__key 9
    .betslip__row.betslip__row--lg
      .betslip__key .
      .betslip__key 0
      .betslip__key
        svg(width='26' height='17' viewbox='0 0 26 17' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(opacity='0.8' d='M6.98539 1.21962C7.22259 0.92281 7.58192 0.75 7.96187 0.75H24C24.6904 0.75 25.25 1.30964 25.25 2V15C25.25 15.6904 24.6904 16.25 24 16.25H7.9253C7.55844 16.25 7.2101 16.0888 6.9726 15.8092L1.6385 9.52946C1.25123 9.07354 1.24126 8.40715 1.61472 7.93985L6.98539 1.21962L6.3995 0.751391L6.98539 1.21962Z' stroke='#383A4A' stroke-width='1.5')
          rect(opacity='0.8' x='16.8684' y='5.19727' width='1' height='8.72727' rx='0.363636' transform='rotate(45 16.8684 5.19727)' fill='#383A4A')
          rect(opacity='0.8' width='1' height='8.72727' rx='0.363636' transform='matrix(-0.707107 0.707107 0.707107 0.707107 11.4044 5.19727)' fill='#383A4A')

mixin betslip-keyboard-small
  .betslip__keyboard&attributes(attributes)
    .betslip__row
      .betslip__key 1
      .betslip__key 2
      .betslip__key 3
      .betslip__key 4
      .betslip__key 5
      .betslip__key 6
      .betslip__key 7
      .betslip__key 8
      .betslip__key 9
      .betslip__key 0
    .betslip__row
      .betslip__key .
      .betslip__key
        svg(width='26' height='17' viewbox='0 0 26 17' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(opacity='0.8' d='M6.98539 1.21962C7.22259 0.92281 7.58192 0.75 7.96187 0.75H24C24.6904 0.75 25.25 1.30964 25.25 2V15C25.25 15.6904 24.6904 16.25 24 16.25H7.9253C7.55844 16.25 7.2101 16.0888 6.9726 15.8092L1.6385 9.52946C1.25123 9.07354 1.24126 8.40715 1.61472 7.93985L6.98539 1.21962L6.3995 0.751391L6.98539 1.21962Z' stroke='#383A4A' stroke-width='1.5')
          rect(opacity='0.8' x='16.8684' y='5.19727' width='1' height='8.72727' rx='0.363636' transform='rotate(45 16.8684 5.19727)' fill='#383A4A')
          rect(opacity='0.8' width='1' height='8.72727' rx='0.363636' transform='matrix(-0.707107 0.707107 0.707107 0.707107 11.4044 5.19727)' fill='#383A4A')
      .betslip__key.betslip__key--done Done


mixin betslip
  .betslip&attributes(attributes)
    .betslip__shadow
    .betslip__wrapper
      .betslip__header
        a.betslip__remove Remove all
        a.betslip__edit Edit
        a.betslip__ok Ok
      .betslip__body

        .betslip__bets.betslip__bets--edit

          .betslip__bet.betslip__bet--down
            .betslip__block
              .betslip__close
                svg(width='16' height='15' viewbox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M4.84327 10.9854L4.08566 10.2278L7.24239 7.07107L4.08566 3.91434L4.84327 3.15673L8 6.31345L11.1567 3.15673L11.9143 3.91434L8.75761 7.07107L11.9143 10.2278L11.1567 10.9854L8 7.82868L4.84327 10.9854Z' fill='#384049')
              .betslip__wrap
                .betslip__cell
                  p.betslip__title Queen of South Reserves
                  p.betslip__market.betslip__market--blue Fulltime Result
                  p.betslip__teams Chennaiyin FC v Hyderabad FC
                .betslip__cell.betslip__cell--sm
                  p.betslip__odds 2.34
                  input(type="number" placeholder="Stake").betslip__field
              .betslip__bottom
                p.betslip__label Possible win:
                p.betslip__label 243.00 USD
            .betslip__drop
              .betslip__message
                p Minimum bet $ 10
              +betslip-keyboard-big.betslip__keyboard--lg

          .betslip__bet.betslip__bet--disabled
            .betslip__block
              .betslip__close
                svg(width='16' height='15' viewbox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M4.84327 10.9854L4.08566 10.2278L7.24239 7.07107L4.08566 3.91434L4.84327 3.15673L8 6.31345L11.1567 3.15673L11.9143 3.91434L8.75761 7.07107L11.9143 10.2278L11.1567 10.9854L8 7.82868L4.84327 10.9854Z' fill='#384049')
              .betslip__wrap
                .betslip__cell
                  p.betslip__title Queen of South Reserves
                  p.betslip__market.betslip__market--blue Fulltime Result
                  p.betslip__teams Chennaiyin FC v Hyderabad FC
                .betslip__cell.betslip__cell--sm
                  .betslip__lock
                    svg(width='10' height='11' viewbox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd' clip-rule='evenodd' d='M2.35294 3.575C2.35294 2.2 3.52941 1.1 5 1.1C6.47059 1.1 7.64706 2.2 7.64706 3.575V4.95H2.35294V3.575ZM9.41177 4.95H8.82353V3.575C8.82353 1.595 7.11765 0 5 0C2.88235 0 1.17647 1.595 1.17647 3.575V4.95H0.588235C0.264706 4.95 0 5.1975 0 5.5V10.45C0 10.7525 0.264706 11 0.588235 11H9.41177C9.73529 11 10 10.7525 10 10.45V5.5C10 5.1975 9.73529 4.95 9.41177 4.95Z' fill='#6C90FC')
              .betslip__bottom
                p.betslip__label Possible win:
                p.betslip__label 243.00 USD
            .betslip__drop
              +betslip-keyboard-small.betslip__keyboard--sm

          .betslip__bet.betslip__bet--active.betslip__bet--down
            .betslip__block
              .betslip__close
                svg(width='16' height='15' viewbox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M4.84327 10.9854L4.08566 10.2278L7.24239 7.07107L4.08566 3.91434L4.84327 3.15673L8 6.31345L11.1567 3.15673L11.9143 3.91434L8.75761 7.07107L11.9143 10.2278L11.1567 10.9854L8 7.82868L4.84327 10.9854Z' fill='#384049')
              .betslip__wrap
                .betslip__cell.betslip__cell
                  p.betslip__title Queen of South Reserves
                  p.betslip__market.betslip__market--blue Fulltime Result
                  p.betslip__teams Chennaiyin FC v Hyderabad FC
                .betslip__cell.betslip__cell--sm
                  p.betslip__odds.betslip__odds--up 2.34
                  input(type="number" placeholder="Stake").betslip__field
              .betslip__bottom
                p.betslip__label Possible win:
                p.betslip__label 243.00 USD
            .betslip__drop
              +betslip-keyboard-small.betslip__keyboard--sm

          .betslip__bet
            .betslip__block
              .betslip__close
                svg(width='16' height='15' viewbox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M4.84327 10.9854L4.08566 10.2278L7.24239 7.07107L4.08566 3.91434L4.84327 3.15673L8 6.31345L11.1567 3.15673L11.9143 3.91434L8.75761 7.07107L11.9143 10.2278L11.1567 10.9854L8 7.82868L4.84327 10.9854Z' fill='#384049')
              .betslip__wrap
                .betslip__cell.betslip__cell
                  p.betslip__title Queen of South Reserves
                  p.betslip__market.betslip__market--blue Fulltime Result
                  p.betslip__teams Chennaiyin FC v Hyderabad FC
                .betslip__cell.betslip__cell--sm
                  p.betslip__odds 2.34
                  input(type="number" placeholder="Stake").betslip__field
              .betslip__bottom
                p.betslip__label Possible win:
                p.betslip__label 243.00 USD
            .betslip__drop
              +betslip-keyboard-small

        .betslip__multiples.betslip__multiples--active
          .betslip__dropdown
            p Show all multiples
            .betslip__down
              svg(width='10' height='6' viewbox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M9 1L5 5L1 1' stroke='#9A9B9F')
          .betslip__drop
            .betslip__multiple.betslip__multiple--lg
              .betslip__wrap
                .betslip__cell
                  p.betslip__market Doubles
                .betslip__cell.betslip__cell--sm
                  p.betslip__odds 1.34
                  input(type="number" placeholder="Stake").betslip__field
              .betslip__bottom
                p.betslip__label Possible win:
                p.betslip__label 243.00 USD

            .betslip__multiple
              .betslip__wrap
                .betslip__cell
                  p.betslip__market Doubles
                .betslip__cell.betslip__cell--sm
                   p.betslip__odds.betslip__odds--down 1.34
                   input(type="number" placeholder="Stake").betslip__field

            .betslip__multiple.betslip__multiple--lg
              .betslip__wrap
                .betslip__cell
                  p.betslip__market Singles
                .betslip__cell.betslip__cell--sm
                  p.betslip__odds 21.34
                  input(type="number" placeholder="Stake").betslip__field
              .betslip__bottom
                p.betslip__label Possible win:
                p.betslip__label 243.00 USD

            .betslip__multiple
              .betslip__wrap
                .betslip__cell
                  p.betslip__market Trixie
                .betslip__cell.betslip__cell--sm
                  p.betslip__odds 21.34
                  input(type="number" placeholder="Stake").betslip__field

        .betslip__info
          .betslip__advance
            p.betslip__text.betslip__text--sm.betslip__text--grey Available advance
            p.betslip__text 100
          .betslip__balance
            p.betslip__text.betslip__text--sm.betslip__text--grey Total balance
            p.betslip__text.betslip__text--green 500.00 $

        .betslip__bonus
          div
            p Use bonuses
            .betslip__wrap
              p.betslip__text.betslip__text--sm Bonus account
              p.betslip__text.betslip__text--green 100
          input(type="checkbox" id="bonus").betslip__checkbox

        .betslip__settings.betslip__settings--active
          .betslip__settings-header
            p.betslip__text Settings
            .betslip__settings-icon
              svg(width='100%' height='100%' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M15.9361 6.4681C15.8834 6.0661 15.6561 5.71744 15.3114 5.50944C14.9721 5.30478 14.5654 5.26809 14.1861 5.40944C13.8794 5.52544 13.5274 5.36609 13.3861 5.05009C13.2234 4.68743 13.0241 4.34009 12.7921 4.01743C12.5854 3.73077 12.6241 3.35477 12.8814 3.14277C13.1881 2.89077 13.3594 2.51811 13.3514 2.12142C13.3434 1.71808 13.1527 1.34676 12.8301 1.10142C12.298 0.698074 11.718 0.363416 11.1054 0.105415C10.7287 -0.0532416 10.3107 -0.0312415 9.95738 0.163415C9.61004 0.355416 9.37404 0.688761 9.30872 1.08008C9.25338 1.41008 8.94807 1.63073 8.59206 1.59408C8.20272 1.55273 7.79741 1.55273 7.40872 1.59408C7.05606 1.63142 6.74737 1.41008 6.69206 1.08008C6.62671 0.68873 6.39071 0.354729 6.0434 0.163415C5.6894 -0.031929 5.27074 -0.0532416 4.89539 0.105415C4.28205 0.363416 3.70205 0.698074 3.17004 1.10142C2.84735 1.34673 2.65735 1.71808 2.64935 2.12074C2.64135 2.51808 2.8127 2.89008 3.12001 3.14408C3.37667 3.35543 3.41536 3.73143 3.20936 4.01809C2.9767 4.34074 2.77735 4.68809 2.6147 5.05075C2.47404 5.3674 2.12135 5.52609 1.80735 5.40741C1.43669 5.2694 1.02935 5.30606 0.689346 5.51006C0.344001 5.71741 0.116688 6.06672 0.0646878 6.46872C0.0220001 6.79941 0 7.13741 0 7.47141C0 7.80541 0.0220001 8.14342 0.0640003 8.47476C0.116657 8.87676 0.344001 9.22542 0.688659 9.43342C1.028 9.63742 1.43401 9.67477 1.81401 9.53342C2.12001 9.41676 2.47201 9.57608 2.61401 9.89277C2.77667 10.2554 2.97601 10.6028 3.20801 10.9254C3.41467 11.2121 3.37601 11.5881 3.11867 11.8001C2.81201 12.0521 2.64067 12.4247 2.64867 12.8214C2.65667 13.2248 2.84732 13.5961 3.17001 13.8414C3.70201 14.2448 4.28202 14.5794 4.89468 14.8374C5.27133 14.9961 5.68868 14.9741 6.04268 14.7794C6.39003 14.5874 6.62603 14.2541 6.69134 13.8628C6.74668 13.5328 7.05468 13.3121 7.408 13.3488C7.79666 13.3901 8.202 13.3901 8.59135 13.3488C8.948 13.3134 9.25269 13.5328 9.30801 13.8628C9.37335 14.2541 9.60935 14.5881 9.95666 14.7794C10.154 14.8881 10.37 14.9428 10.5887 14.9428C10.7633 14.9428 10.938 14.9074 11.104 14.8374C11.7167 14.5794 12.2967 14.2441 12.8287 13.8414C13.152 13.5968 13.342 13.2248 13.35 12.8221C13.358 12.4247 13.1867 12.0521 12.88 11.7994C12.6234 11.5881 12.5847 11.2121 12.7907 10.9254C13.0233 10.6028 13.2227 10.2554 13.3853 9.89277C13.5267 9.57611 13.88 9.41811 14.1853 9.53342L14.1927 9.53608C14.5647 9.67542 14.9713 9.63742 15.3107 9.43342C15.656 9.22542 15.8833 8.87676 15.9353 8.47407C15.978 8.14007 16 7.80341 16 7.47141C16.0001 7.13941 15.9781 6.80275 15.9361 6.4681ZM15.2741 8.38942C15.2487 8.58742 15.1367 8.76007 14.9674 8.86208C14.8041 8.96142 14.6067 8.97873 14.4201 8.90873L14.4161 8.90739C13.7801 8.67204 13.0621 8.98473 12.7774 9.62073C12.6334 9.94208 12.456 10.2507 12.25 10.5367C11.836 11.1127 11.9254 11.8774 12.4574 12.3147C12.6054 12.4367 12.6881 12.6167 12.684 12.8087C12.68 13.0067 12.5867 13.1894 12.4267 13.3107C11.94 13.6801 11.408 13.9874 10.846 14.2234C10.66 14.3021 10.452 14.2914 10.2787 14.1961C10.1114 14.1034 9.99735 13.9427 9.96604 13.7541C9.86004 13.1201 9.31738 12.6787 8.67269 12.6787C8.62335 12.6787 8.57269 12.6807 8.52203 12.6847C8.17869 12.7207 7.82137 12.7207 7.47803 12.6847C6.76868 12.6041 6.14802 13.0694 6.03402 13.7521C6.00268 13.9407 5.88868 14.1021 5.72137 14.1941C5.54737 14.2901 5.34002 14.3001 5.15336 14.2214C4.59136 13.9848 4.05936 13.6781 3.5727 13.3087C3.4127 13.1881 3.31936 13.0047 3.31536 12.8074C3.31136 12.6154 3.39401 12.4354 3.5427 12.3134C4.0747 11.8761 4.16336 11.1114 3.74936 10.5354C3.54336 10.2487 3.3667 9.94073 3.2227 9.61939C2.93736 8.98204 2.2167 8.67073 1.57204 8.91073C1.39404 8.97739 1.19604 8.96073 1.03269 8.86139C0.863347 8.76004 0.751347 8.58739 0.726034 8.38873C0.68669 8.08607 0.66669 7.77673 0.66669 7.47138C0.66669 7.16604 0.68669 6.85672 0.72669 6.55338C0.752034 6.35538 0.864035 6.18272 1.03335 6.08072C1.196 5.98206 1.39401 5.96406 1.58001 6.03406C2.21667 6.27141 2.93736 5.96006 3.22267 5.32206C3.36667 5.00072 3.54401 4.69271 3.75001 4.40671C4.16402 3.83071 4.07467 3.06605 3.54267 2.62871C3.39467 2.50671 3.31201 2.32671 3.31601 2.1347C3.32001 1.9367 3.41336 1.75405 3.57336 1.6327C4.06002 1.26336 4.59202 0.9567 5.15402 0.720043C5.34002 0.641386 5.54737 0.651386 5.72137 0.747387C5.88871 0.839387 6.00271 1.00073 6.03402 1.19004C6.14802 1.8727 6.76868 2.33339 7.47803 2.25739C7.82069 2.22139 8.17803 2.22139 8.52203 2.25739C9.22738 2.33274 9.85204 1.87273 9.96604 1.19004C9.99738 1.00139 10.1114 0.840043 10.2787 0.748043C10.4527 0.651386 10.6594 0.641386 10.8467 0.720699C11.4087 0.957356 11.9407 1.26404 12.4274 1.63336C12.5874 1.75402 12.6807 1.93736 12.6847 2.1347C12.6887 2.32671 12.606 2.50671 12.4574 2.62871C11.9254 3.06605 11.8367 3.83071 12.2507 4.40671C12.4567 4.69337 12.6334 5.00137 12.7774 5.32272C13.0627 5.96006 13.784 6.27206 14.428 6.03138C14.6067 5.96403 14.8034 5.98203 14.9674 6.08072C15.1367 6.18272 15.2487 6.35538 15.274 6.55338C15.3134 6.85938 15.3334 7.16804 15.3334 7.47138C15.3334 7.77476 15.3134 8.08342 15.2741 8.38942Z' fill='#383A4A')
                path(d='M8.00004 4.13806C6.16204 4.13806 4.66669 5.63341 4.66669 7.47142C4.66669 9.30943 6.16204 10.8047 8.00004 10.8047C9.83805 10.8047 11.3334 9.30939 11.3334 7.47139C11.3334 5.63338 9.83805 4.13806 8.00004 4.13806ZM8.00004 10.1381C6.52938 10.1381 5.33338 8.94208 5.33338 7.47142C5.33338 6.00076 6.52938 4.80475 8.00004 4.80475C9.47071 4.80475 10.6667 6.00076 10.6667 7.47142C10.6667 8.94208 9.47071 10.1381 8.00004 10.1381Z' fill='#383A4A')
          .betslip__settings-body
            .betslip__settings-item
              p Remember Stake
              label.betslip__toggle
                input(type="checkbox" id="stake").betslip__toggle-input
                span.betslip__toggle-swipe
                span.betslip__toggle-bg

            .betslip__settings-item
              p Quick bet
              label.betslip__toggle
                input(type="checkbox" id="stake").betslip__toggle-input
                span.betslip__toggle-swipe
                span.betslip__toggle-bg

            .betslip__settings-item
              p Accept all odds changes
              input(type="checkbox" id="bonus").betslip__checkbox

        .betslip__notification.betslip__notification--warning
          p Where selections appear highlighted your multiple options are restricted.

        .betslip__footer
          button.betslip__placebet.betslip__placebet--disabled
            span Place bet
            span 0.00 USD
