mixin ipe-team-scoreboard
  .ipe-team-scoreboard&attributes(attributes)
    .ipe-team-scoreboard__wrap
      .ipe-team-scoreboard__close
        svg(width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd' clip-rule='evenodd' d='M4.84327 11.9143L4.08566 11.1567L7.24239 7.99999L4.08566 4.84327L4.84327 4.08565L8 7.24238L11.1567 4.08565L11.9143 4.84327L8.75761 7.99999L11.9143 11.1567L11.1567 11.9143L8 8.75761L4.84327 11.9143Z' fill='#384049')
      .ipe-team-scoreboard__head
        p.ipe-team-scoreboard__title Sumary
      .ipe-team-scoreboard__body
        .ipe-team-scoreboard__table
          .ipe-team-scoreboard__column
            .ipe-team-scoreboard__td
              .ipe-team-scoreboard__time 34`
            .ipe-team-scoreboard__td
              .ipe-team-scoreboard__team
                svg(width='13' height='11' viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M4.50806 0H8.45257C8.45257 1.09038 7.56787 1.97226 6.48031 1.97226C5.38994 1.97226 4.50806 1.09038 4.50806 0Z' fill='#820D1B')
                  path(d='M10.7038 0.563502L9.01615 0H8.45265C8.45265 1.09038 7.56795 1.97226 6.48039 1.97226C5.39001 1.97226 4.50813 1.09038 4.50813 0H3.94463L2.25412 0.563502L0.00292969 2.81751L1.69344 4.78977L3.10219 3.66277V10.4245H9.85859V3.66277L11.2673 4.78977L12.9578 2.81751L10.7038 0.563502Z' fill='#B81126')
              .ipe-team-scoreboard__name Manchester United
            .ipe-team-scoreboard__td
              .ipe-team-scoreboard__team
                svg(width='13' height='11' viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M10.7009 0.563502L9.01322 0H8.44972C8.44972 1.09038 7.56502 1.97226 6.47746 1.97226C5.38708 1.97226 4.5052 1.09038 4.5052 0H3.9417L2.25119 0.563502L0 2.81751L1.69051 4.78977L3.09926 3.66277V10.4245H9.85566V3.66277L11.2644 4.78977L12.9549 2.81751L10.7009 0.563502Z' fill='#F1CB62')
              .ipe-team-scoreboard__name Manchester United
          .ipe-team-scoreboard__column
            .ipe-team-scoreboard__td
              .ipe-team-scoreboard__icon(style="transform: translateX(7px)")
                svg(width='11' height='14' viewBox='0 0 11 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M0.5 0H1.9V14H0.5V0Z' fill='#A7A7A7')
                  path(d='M10.3 2.8L1.90005 5.22487L0.500049 5.22487L0.50005 0L1.90005 -3.67176e-07L10.3 2.8Z' fill='#E5142E')
            .ipe-team-scoreboard__td
              .ipe-team-scoreboard__text 2
            .ipe-team-scoreboard__td
              .ipe-team-scoreboard__text 2
          .ipe-team-scoreboard__column
            .ipe-team-scoreboard__td
              .ipe-team-scoreboard__icon
                svg(width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                  rect(x='0.301025' y='0.841309' width='6.88561' height='12.7876' rx='1' fill='#F1CB62')
            .ipe-team-scoreboard__td
              .ipe-team-scoreboard__text 2
            .ipe-team-scoreboard__td
              .ipe-team-scoreboard__text 2
          .ipe-team-scoreboard__column
            .ipe-team-scoreboard__td
              .ipe-team-scoreboard__icon
                svg(width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                  rect(x='0.301025' y='0.841309' width='6.88561' height='12.7876' rx='1' fill='#E5142E')
            .ipe-team-scoreboard__td
              .ipe-team-scoreboard__text 2
            .ipe-team-scoreboard__td
              .ipe-team-scoreboard__text 2
          .ipe-team-scoreboard__column
            .ipe-team-scoreboard__td
              .ipe-team-scoreboard__icon
                svg(width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M6.87116 2.9884L3.43558 0.0209961L0 2.9884H2V9.021H5V2.9884H6.87116Z' fill='#31C400')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M13.8712 6.05359L10.4356 9.021L7 6.05359H9V0H12V6.05359H13.8712Z' fill='#E5142E')
            .ipe-team-scoreboard__td
              .ipe-team-scoreboard__text 2
            .ipe-team-scoreboard__td
              .ipe-team-scoreboard__text 2
          .ipe-team-scoreboard__column
            .ipe-team-scoreboard__td
              .ipe-team-scoreboard__icon
                svg(width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M6.22147 10.187C6.03992 9.91967 5.71473 9.8344 5.44627 9.98372C5.32085 10.0434 5.22578 10.1629 5.18707 10.3094C5.14836 10.4558 5.17005 10.6141 5.24622 10.7408L5.52754 11.2174C5.71257 11.4798 6.03717 11.5591 6.30274 11.4067C6.42785 11.3486 6.52299 11.2304 6.56179 11.085C6.60058 10.9395 6.57892 10.7822 6.50279 10.6566L6.22147 10.187ZM4.24588 11.2733C4.09584 11.0139 3.98956 11.035 3.72075 11.1822C3.45193 11.3364 3.09558 11.5677 3.27063 11.813L3.55195 12.2967C3.73525 12.5615 4.06014 12.6438 4.32715 12.493C4.45333 12.4363 4.54992 12.3188 4.58998 12.1732C4.63003 12.0275 4.60926 11.8694 4.53345 11.7429L4.24588 11.2733Z' fill='white')
                  path(d='M12.0473 5.57491C12.3111 5.43178 12.6282 5.51338 12.81 5.77117L13.0975 6.24783C13.171 6.37498 13.1904 6.5321 13.1506 6.67687C13.1108 6.82165 13.0158 6.9392 12.8912 6.99786C12.6228 7.14718 12.2976 7.0619 12.116 6.79458L11.8285 6.31792C11.7602 6.1889 11.745 6.03304 11.787 5.89056C11.829 5.74809 11.9239 5.63297 12.0473 5.57491Z' fill='white')
                  path(d='M10.3596 6.87862C10.622 6.73393 10.9388 6.81255 11.1222 7.06788L11.4098 7.53753C11.4856 7.66402 11.5064 7.82214 11.4663 7.96776C11.4263 8.11338 11.3297 8.23092 11.2035 8.28756C10.9365 8.4384 10.6116 8.35614 10.4283 8.09129L10.147 7.60762C10.0786 7.48166 10.0627 7.32844 10.1036 7.18825C10.1445 7.04806 10.238 6.93494 10.3596 6.87862Z' fill='white')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M10.3345 1.1941C10.364 0.890287 10.6074 0.670688 10.8784 0.703429C10.9278 0.709918 10.9762 0.724072 11.0221 0.745486C11.566 1.01185 12.5663 3.05866 12.8976 3.85074C13.229 4.64283 13.3665 5.25267 10.2907 7.12423C7.42747 8.86262 2.93257 11.8908 2.32616 12.2973C2.27912 12.3316 2.22562 12.3532 2.16987 12.3604C1.88855 12.4025 1.05084 12.4585 0.732005 11.7576C0.350657 10.9164 0.681992 10.1173 1.35717 9.38133C2.89395 7.58685 4.09492 5.46568 4.88932 3.14277C4.88932 3.14277 5.27067 1.34831 6.13964 1.95114C7.00862 2.55397 7.98387 3.51428 9.26545 2.6521C10.547 1.78992 10.3345 1.1941 10.3345 1.1941Z' stroke='white' stroke-width='0.65')
                  path(d='M2.90137 7.05436C2.92058 6.96282 2.97181 6.88377 3.04352 6.835C3.11524 6.78622 3.20143 6.77181 3.28272 6.795L5.1582 7.02632C5.32755 7.08082 5.42736 7.27666 5.38325 7.46793C5.36261 7.56001 5.31014 7.63909 5.23743 7.68775C5.16472 7.7364 5.07773 7.75063 4.99565 7.72728L3.15768 7.49597C2.98919 7.44464 2.88886 7.25089 2.93263 7.06137L2.90137 7.05436Z' fill='white')
                  path(d='M3.85797 5.65909C3.87857 5.56884 3.93037 5.4915 4.00192 5.44415C4.07348 5.3968 4.1589 5.38335 4.23932 5.40675L5.45838 5.63807C5.63101 5.69033 5.73318 5.88961 5.68657 6.08318C5.63995 6.27674 5.46222 6.39129 5.28959 6.33903L4.07678 6.10771C3.91177 6.05944 3.80985 5.87413 3.84547 5.68713L3.85797 5.65909Z' fill='white')
                  path(d='M4.18896 4.26433C4.23474 4.07541 4.40754 3.96291 4.57656 4.01199L5.82689 4.2433C5.99624 4.2978 6.09605 4.49365 6.05194 4.68491C6.00889 4.86992 5.84362 4.9842 5.67685 4.94426L4.46404 4.71295C4.29903 4.66467 4.19711 4.47936 4.23273 4.29237L4.18896 4.26433Z' fill='white')
                  path(d='M9.78436 4.17242L10.3408 3.81493C10.4144 3.76697 10.5021 3.75407 10.5844 3.77909C10.6666 3.80411 10.7364 3.86497 10.7784 3.94811C10.8638 4.12075 10.8112 4.3383 10.6596 4.43879L10.1032 4.79628C9.95243 4.89462 9.75932 4.84203 9.66558 4.67711C9.57535 4.50078 9.62828 4.27588 9.78436 4.17242Z' fill='white')
            .ipe-team-scoreboard__td
              .ipe-team-scoreboard__text 2
            .ipe-team-scoreboard__td
              .ipe-team-scoreboard__text 2
          .ipe-team-scoreboard__column
            .ipe-team-scoreboard__td
              .ipe-team-scoreboard__icon
                svg(width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                  circle(cx='7.87109' cy='7' r='7' fill='#1A1E30')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M14.0949 8.95417L13.2779 8.68583C13.2196 8.65667 13.1612 8.65083 13.1029 8.65083C12.9686 8.65083 12.8519 8.70917 12.7644 8.84333L11.2354 11.0833C11.1187 11.2175 11.1187 11.4333 11.2354 11.5733L11.7023 12.2733C10.5935 13.09 9.35046 13.4983 7.96738 13.5217V12.5708C7.93821 12.3375 7.83316 12.1975 7.63475 12.1392L5.0495 11.3808C4.99114 11.3692 4.94446 11.3575 4.89777 11.3575C4.76355 11.3575 4.66434 11.4158 4.5768 11.5325L4.01074 12.25C3.6781 11.9875 3.42716 11.7717 3.28126 11.62C2.5693 10.92 2.04408 10.1033 1.72312 9.14667L2.54012 8.81417C2.7152 8.75583 2.8144 8.62167 2.8144 8.40583V5.69333C2.8144 5.50667 2.68018 5.34333 2.49927 5.285L1.67059 5.01667C2.0791 3.70417 2.82608 2.625 3.94654 1.79667L4.53012 2.52583C4.63516 2.6425 4.73437 2.70083 4.86859 2.70083C4.92695 2.70083 4.9678 2.70083 5.01449 2.68333L7.59973 1.86667C7.81565 1.79667 7.9207 1.645 7.91486 1.435L7.90319 0.478333C9.24542 0.478333 10.4709 0.875 11.6147 1.6625L11.0603 2.52583C11.002 2.6075 10.9786 2.68333 10.9786 2.75917C10.9786 2.85833 11.0195 2.93417 11.0837 3.0275L12.6593 5.20917C12.7469 5.3375 12.8519 5.4075 12.9861 5.4075C13.0445 5.4075 13.1029 5.39 13.1612 5.3725L14.1066 5.04C14.2992 5.62333 14.3984 6.265 14.3984 6.93583C14.3984 7.65917 14.2992 8.32417 14.1066 8.94833L14.0949 8.95417ZM14.305 4.22917C13.9257 3.3775 13.4297 2.6425 12.8111 2.02417C12.1866 1.4 11.4455 0.915833 10.5818 0.554167C9.72395 0.186667 8.83108 0 7.88568 0H7.80398C6.85275 0 5.94821 0.198333 5.09035 0.571667C4.23249 0.950833 3.49135 1.45833 2.87276 2.08833C2.24833 2.71833 1.76397 3.47083 1.41382 4.33417C1.04617 5.19167 0.871094 6.08417 0.871094 7.02917V7.07C0.871094 8.00333 1.06367 8.91333 1.43716 9.77083C1.81065 10.6225 2.31253 11.3575 2.93695 11.9758C3.56722 12.6 4.30836 13.0842 5.16622 13.4458C6.02991 13.8133 6.92862 14 7.86818 14H7.9382C8.88943 14 9.79398 13.8017 10.6577 13.4283C11.533 13.0492 12.2567 12.5417 12.8753 11.9117C13.4997 11.27 13.9841 10.535 14.3342 9.66583C14.6843 8.81417 14.8711 7.93333 14.8711 7.00583V6.93583C14.8711 6.0025 14.6727 5.0925 14.2992 4.24083L14.305 4.22917ZM8.93612 4.61417C8.84275 4.4975 8.7377 4.43917 8.60348 4.43917C8.54512 4.43917 8.48677 4.45083 8.44008 4.47417L5.94821 5.285C5.74396 5.34333 5.65642 5.495 5.65642 5.71083L5.6856 8.33583C5.6856 8.5225 5.80232 8.6975 5.97739 8.74417L8.44008 9.52583C8.49844 9.54917 8.5568 9.555 8.60348 9.555C8.7377 9.555 8.84858 9.49667 8.93612 9.38L10.5234 7.22167C10.5818 7.13417 10.611 7.035 10.611 6.9475C10.611 6.86583 10.5701 6.7725 10.5176 6.685L8.93612 4.60833' fill='white')
            .ipe-team-scoreboard__td
              .ipe-team-scoreboard__text 2
            .ipe-team-scoreboard__td
              .ipe-team-scoreboard__text 2

        .ipe-team-scoreboard__block
          - var n = 0
          while (n < 2)
            .ipe-team-scoreboard__part
              .ipe-team-scoreboard__subtitle Score After Full Time 4-2
              .ipe-team-scoreboard__events
                .ipe-team-scoreboard__row.ipe-team-scoreboard__row--away
                  .ipe-team-scoreboard__cell
                    .ipe-team-scoreboard__event
                      .ipe-team-scoreboard__text Race to 5 Corners
                      .ipe-team-scoreboard__time= n++ + '4`'
                      .ipe-team-scoreboard__icon
                        svg(width='100%' height='100%' viewBox='0 0 7 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                          rect(width='7' height='13' rx='1' fill='#E5142E')
                .ipe-team-scoreboard__row.ipe-team-scoreboard__row--home
                  .ipe-team-scoreboard__cell
                    .ipe-team-scoreboard__event
                      .ipe-team-scoreboard__text Race to 5 Corners
                      .ipe-team-scoreboard__time 34`
                      .ipe-team-scoreboard__icon
                        svg(width='100%' height='100%' viewBox='0 0 7 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                          rect(width='7' height='13' rx='1' fill='#E5142E')
                .ipe-team-scoreboard__row.ipe-team-scoreboard__row--away
                  .ipe-team-scoreboard__cell
                    .ipe-team-scoreboard__event
                      .ipe-team-scoreboard__text Race to 5 Corners
                      .ipe-team-scoreboard__time 34`
                      .ipe-team-scoreboard__icon
                        svg(width='14' height='13' viewbox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                          path(fill-rule='evenodd' clip-rule='evenodd' d='M6.35038 10.187C6.16883 9.91967 5.84363 9.8344 5.57518 9.98372C5.44975 10.0434 5.35468 10.1629 5.31597 10.3094C5.27726 10.4558 5.29896 10.6141 5.37513 10.7408L5.65645 11.2174C5.84148 11.4798 6.16607 11.5591 6.43165 11.4067C6.55676 11.3486 6.6519 11.2304 6.69069 11.085C6.72949 10.9395 6.70782 10.7822 6.6317 10.6566L6.35038 10.187ZM4.37479 11.2733C4.22475 11.0139 4.11847 11.035 3.84965 11.1822C3.58083 11.3364 3.22449 11.5677 3.39954 11.813L3.68086 12.2967C3.86415 12.5615 4.18905 12.6438 4.45606 12.493C4.58223 12.4363 4.67883 12.3188 4.71888 12.1732C4.75894 12.0275 4.73817 11.8694 4.66236 11.7429L4.37479 11.2733Z' fill='#232737')
                          path(d='M12.1762 5.57491C12.44 5.43178 12.7571 5.51338 12.9389 5.77117L13.2264 6.24783C13.2999 6.37498 13.3194 6.5321 13.2795 6.67687C13.2397 6.82165 13.1447 6.9392 13.0201 6.99786C12.7517 7.14718 12.4265 7.0619 12.2449 6.79458L11.9574 6.31792C11.8891 6.1889 11.874 6.03304 11.9159 5.89056C11.9579 5.74809 12.0528 5.63297 12.1762 5.57491Z' fill='#232737')
                          path(d='M10.4885 6.87862C10.7509 6.73393 11.0677 6.81255 11.2512 7.06788L11.5387 7.53753C11.6145 7.66402 11.6353 7.82214 11.5953 7.96776C11.5552 8.11338 11.4586 8.23092 11.3324 8.28756C11.0654 8.4384 10.7405 8.35614 10.5572 8.09129L10.2759 7.60762C10.2075 7.48166 10.1916 7.32844 10.2325 7.18825C10.2734 7.04806 10.3669 6.93494 10.4885 6.87862Z' fill='#232737')
                          path(fill-rule='evenodd' clip-rule='evenodd' d='M10.4634 1.1941C10.4929 0.890287 10.7363 0.670688 11.0073 0.703429C11.0567 0.709918 11.1051 0.724072 11.1511 0.745486C11.6949 1.01185 12.6952 3.05866 13.0265 3.85074C13.3579 4.64283 13.4954 5.25267 10.4196 7.12423C7.55638 8.86262 3.06148 11.8908 2.45507 12.2973C2.40803 12.3316 2.35453 12.3532 2.29878 12.3604C2.01746 12.4025 1.17974 12.4585 0.860911 11.7576C0.479563 10.9164 0.810898 10.1173 1.48607 9.38133C3.02286 7.58685 4.22382 5.46568 5.01823 3.14277C5.01823 3.14277 5.39958 1.34831 6.26855 1.95114C7.13752 2.55397 8.11277 3.51428 9.39435 2.6521C10.6759 1.78992 10.4634 1.1941 10.4634 1.1941Z' stroke='#232737' stroke-width='0.65')
                          path(d='M3.03027 7.05436C3.04949 6.96282 3.10072 6.88377 3.17243 6.835C3.24415 6.78622 3.33033 6.77181 3.41162 6.795L5.2871 7.02632C5.45646 7.08082 5.55627 7.27666 5.51216 7.46793C5.49152 7.56001 5.43905 7.63909 5.36634 7.68775C5.29363 7.7364 5.20664 7.75063 5.12456 7.72728L3.28659 7.49597C3.11809 7.44464 3.01776 7.25089 3.06153 7.06137L3.03027 7.05436Z' fill='#232737')
                          path(d='M3.98688 5.65909C4.00748 5.56884 4.05927 5.4915 4.13083 5.44415C4.20238 5.3968 4.2878 5.38335 4.36823 5.40675L5.58729 5.63807C5.75992 5.69033 5.86208 5.88961 5.81547 6.08318C5.76886 6.27674 5.59113 6.39129 5.41849 6.33903L4.20568 6.10771C4.04067 6.05944 3.93876 5.87413 3.97437 5.68713L3.98688 5.65909Z' fill='#232737')
                          path(d='M4.31787 4.26433C4.36365 4.07541 4.53644 3.96291 4.70547 4.01199L5.95579 4.2433C6.12515 4.2978 6.22496 4.49365 6.18085 4.68491C6.1378 4.86992 5.97252 4.9842 5.80575 4.94426L4.59294 4.71295C4.42793 4.66467 4.32601 4.47936 4.36163 4.29237L4.31787 4.26433Z' fill='#232737')
                          path(d='M9.91326 4.17242L10.4697 3.81493C10.5433 3.76697 10.631 3.75407 10.7133 3.77909C10.7955 3.80411 10.8653 3.86497 10.9073 3.94811C10.9927 4.12075 10.9401 4.3383 10.7885 4.43879L10.2321 4.79628C10.0813 4.89462 9.88822 4.84203 9.79448 4.67711C9.70425 4.50078 9.75718 4.27588 9.91326 4.17242Z' fill='#232737')

                .ipe-team-scoreboard__row.ipe-team-scoreboard__row--away
                  .ipe-team-scoreboard__cell
                    .ipe-team-scoreboard__event
                      .ipe-team-scoreboard__text Race to 5 Corners
                      .ipe-team-scoreboard__time 34`
                      .ipe-team-scoreboard__icon
                        svg(width='15' height='10' viewbox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                          path(fill-rule='evenodd' clip-rule='evenodd' d='M7.29205 3.96741L3.85648 1L0.420898 3.96741H2.4209V10H5.4209V3.96741H7.29205Z' fill='#31C400')
                          path(fill-rule='evenodd' clip-rule='evenodd' d='M14.2921 7.03259L10.8565 10L7.4209 7.03259H9.4209V0.979004H12.4209V7.03259H14.2921Z' fill='#E5142E')
                    .ipe-team-scoreboard__change
                      .ipe-team-scoreboard__text Out
                      .ipe-team-scoreboard__text Ronaldo C.
