.ipe-team-scoreboard {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(#1a1e30, 0.5);
  z-index: 1;

  &__wrap {
    position: absolute;
    top: 88px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    background-color: #fff;
    overflow: hidden;
  }

  &__close {
    @include size(64px);

    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    border-radius: 50%;
    background-color: #f6f8ff;

    svg {
      position: absolute;
      bottom: 10px;
      left: 12px;
    }

    &--active {
      background-color: darken(#f1f3f7, 10%);
    }
  }

  &__body {
    @include overflow-y;

    padding: 0 10px 10px;
    height: calc(100% - 50px);
  }

  &__head {
    padding-top: 10px;
  }

  &__title {
    margin-bottom: 10px;
    padding: 0 10px;
    font-weight: 700;
  }

  &__table {
    @include flex($align-items: stretch);

    background-color: #1A1E30;
    width: 100%;
    padding: 0 10px;
    border-radius: 1px;
  }

  &__column {
    flex: 1;

    &:first-child {
      min-width: 35%;
      max-width: 35%;

      .ipe-team-scoreboard {

        &__td {
          justify-content: flex-start;
        }
      }
    }
  }

  &__td {
    @include flex(center, center);
    @include size(100%, 23px);

    border-bottom: 1px solid rgba(#D8D8D8, 0.3);
    overflow: hidden;

    * {
      color: rgba(255,255,255,0.5);
      font-size: 11px;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__team {
    @include size(12px, 10px);

    margin-right: 5px;
  }

  &__part {
    margin-top: 10px;
  }

  &__events {
    position: relative;
    padding: 15px 0;

    &::after {
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: #1A1E30;
      content: '';
    }
  }

  &__subtitle {
    text-align: center;
    padding: 10px;
    color: $blue;
    margin-bottom: 10px;
  }

  &__row {
    @include flex(center, center);

    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    &--away {

      .ipe-team-scoreboard {

        &__cell {
          margin-left: 0;
          margin-right: auto;
          text-align: right;
        }

        &__change {
          text-align: left;
        }
      }
    }

    &--home {

      .ipe-team-scoreboard {

        &__cell {
          margin-right: 0;
          margin-left: auto;
          text-align: left;
        }

        &__event {
          flex-direction: row-reverse;
        }

        &__change {
          text-align: right;
        }
      }
    }
  }

  &__cell {
    flex-shrink: 0;
    width: 50%;
    padding: 0 15px;
  }

  &__change {
    @include flex($align-items: center);
  }

  &__event {
    @include flex(flex-end, center);
  }

  &__change {
    color: #232737;

    * {

      &:first-child {
        margin-right: 3px;
        color: $blue;
      }

      &:last-child {
        color: rgba(#232737, 0.5);
      }
    }
  }

  &__time {
    color: $blue;
    margin: 0 5px;
  }

  &__icon {
    @include size(16px, 14px);
    @include flex(center, center);

    flex-shrink: 0;
  }

  &--active {
    display: block;
    z-index: 13;
  }
}
