include ../cb-upload/_index

mixin cb-tab
  .cb-tab&attributes(attributes)
    .cb-tab__header
      .cb-tab__link
        .cb-tab__img
          svg(width='22' height='14' viewBox='0 0 22 14' fill='none' xmlns='http://www.w3.org/2000/svg')
            rect(width='22' height='13.6552' rx='0.758621' stroke='#232737' stroke-width='1.52')
            rect(x='11.3793' y='3.79309' width='7.58621' height='0.758621' rx='0.37931' fill='#232737')
            rect(x='11.3793' y='6.06897' width='4.55172' height='0.758621' rx='0.37931' fill='#232737')
            path(d='M2.35447 5.57951V5.26892C2.35447 5.20333 2.30239 5.15125 2.2368 5.15125H1.88956C1.68507 5.15125 1.51724 5.31715 1.51724 5.52356C1.51724 5.72805 1.68315 5.89588 1.88956 5.89588H2.52231V5.57951H2.35447Z' fill='#232737')
            path(d='M8.95589 5.57951V5.26892C8.95589 5.20333 9.00797 5.15125 9.07356 5.15125H9.4208C9.62529 5.15125 9.79312 5.31715 9.79312 5.52356C9.79312 5.72805 9.62722 5.89588 9.4208 5.89588H8.78806V5.57951H8.95589Z' fill='#232737')
            path(d='M1.64072 7.41211V9.53413C1.64072 9.63058 1.71981 9.70967 1.81627 9.70967H2.65157C2.74802 9.70967 2.82712 9.63058 2.82712 9.53413V7.41211H1.64072Z' fill='#232737')
            path(d='M8.48132 7.41211V9.53413C8.48132 9.63058 8.56042 9.70967 8.65687 9.70967H9.49217C9.58863 9.70967 9.66772 9.63058 9.66772 9.53413V7.41211H8.48132Z' fill='#232737')
            path(d='M9.67544 7.0109C9.56548 6.69839 9.28769 6.60579 9.17773 6.27398C9.06777 5.94218 8.23633 4.20791 7.81385 3.98799C7.39138 3.76807 5.65518 3.8028 5.65518 3.8028C5.65518 3.8028 3.92285 3.76615 3.49844 3.98799C3.07404 4.20984 2.24453 5.94025 2.13264 6.27205C2.02268 6.60386 1.74489 6.69646 1.63493 7.00897C1.52497 7.32149 1.69087 8.81541 1.91272 8.98132C2.13457 9.14722 5.65518 9.18387 5.65518 9.18387C5.65518 9.18387 9.17773 9.14722 9.39765 8.98132C9.6195 8.81541 9.7854 7.32342 9.67544 7.0109Z' fill='#232737')
            path(d='M8.00098 5.1532L5.65519 5.30367L3.3094 5.1532L2.58212 5.8959C2.58212 5.8959 3.69136 7.41411 3.86112 7.8443C4.03088 8.27449 3.87269 8.3748 4.06368 8.49827H5.65519H7.2467C7.43768 8.37287 7.27949 8.27449 7.44926 7.8443C7.61902 7.41411 8.72825 5.8959 8.72825 5.8959L8.00098 5.1532Z' fill='#232737')
            path(d='M3.49649 7.61862H2.30816C2.10368 7.61862 1.93777 7.45271 1.93777 7.24823C1.93777 7.01288 2.15383 6.83926 2.3834 6.88556L3.43283 7.10548C3.55629 7.13055 3.65468 7.21929 3.69712 7.33697C3.74342 7.47586 3.64117 7.61862 3.49649 7.61862Z' fill='#FFFFFC')
            path(d='M7.81382 7.61862H9.00215C9.20663 7.61862 9.37254 7.45271 9.37254 7.24823C9.37254 7.01288 9.15648 6.83926 8.92691 6.88556L7.87748 7.10548C7.75402 7.13055 7.65563 7.21929 7.61319 7.33697C7.56689 7.47586 7.66914 7.61862 7.81382 7.61862Z' fill='#FFFFFC')
            path(d='M7.89295 4.26584C7.62866 4.10187 5.65519 4.12309 5.65519 4.12309C5.65519 4.12309 3.68364 4.10187 3.41743 4.26584C3.15121 4.42982 2.58212 5.89787 2.58212 5.89787C3.13192 5.76476 5.65519 5.75511 5.65519 5.75511C5.65519 5.75511 8.17846 5.76476 8.72825 5.89787C8.72825 5.89594 8.15724 4.42789 7.89295 4.26584Z' fill='white')
        p.cb-tab__text Drivers license
      .cb-tab__link.cb-tab__link--active
        .cb-tab__img
          svg(width='22' height='14' viewBox='0 0 22 14' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M5.72413 10.2414H8.34483V9.6457C8.34469 9.23344 8.12358 8.85415 7.76828 8.65669L6.53793 7.97253C6.37641 7.88349 6.2758 7.71144 6.27587 7.52438V7.01021C6.51334 6.6998 6.68351 6.34164 6.77518 5.95938C6.8934 5.88182 6.96504 5.74858 6.96553 5.60535V5.04342C6.96514 4.92422 6.91499 4.81081 6.82759 4.73154V3.91951C6.82759 3.91951 6.99173 2.65515 5.31035 2.65515C3.62896 2.65515 3.79311 3.91951 3.79311 3.91951V4.73151C3.70571 4.8108 3.65556 4.92419 3.65517 5.04338V5.60532C3.65565 5.74855 3.72729 5.88178 3.84551 5.95935C3.93718 6.34163 4.10736 6.69977 4.34483 7.01017V7.52435C4.34489 7.71141 4.24428 7.88346 4.08276 7.9725L2.85241 8.65666C2.4971 8.85412 2.27599 9.23341 2.27586 9.64567V10.2413H5.72413V10.2414Z' fill='#232737')
            rect(x='0.37931' y='0.37931' width='21.2414' height='12.8966' rx='0.37931' stroke='#232737' stroke-width='0.758621')
            rect(x='10.6207' y='3.79309' width='7.58621' height='0.758621' rx='0.37931' fill='#232737')
            rect(x='10.6207' y='6.06897' width='4.55172' height='0.758621' rx='0.37931' fill='#232737')
        p.cb-tab__text Id card
      .cb-tab__link
        .cb-tab__img
          svg(width='22' height='14' viewBox='0 0 22 14' fill='none' xmlns='http://www.w3.org/2000/svg')
            rect(x='0.37931' y='0.37931' width='21.2414' height='12.8966' rx='0.37931' stroke='#232737' stroke-width='0.758621')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M6.06897 5.31036C6.90692 5.31036 7.58621 4.63107 7.58621 3.79312C7.58621 2.95517 6.90692 2.27588 6.06897 2.27588C5.23102 2.27588 4.55173 2.95517 4.55173 3.79312C4.55173 4.63107 5.23102 5.31036 6.06897 5.31036Z' fill='#232737')
            rect(x='12.1379' y='7.58618' width='7.58621' height='0.758621' rx='0.37931' fill='#232737')
            rect(x='12.1379' y='9.86206' width='4.55172' height='0.758621' rx='0.37931' fill='#232737')
            rect(width='7.58621' height='0.758621' rx='0.37931' transform='matrix(-1 0 0 1 9.86207 7.58618)' fill='#232737')
            rect(width='4.55172' height='0.758621' rx='0.37931' transform='matrix(-1 0 0 1 9.86207 9.86206)' fill='#232737')
        p.cb-tab__text Password
    .cb-tab__body
      +cb-upload
