mixin wn-banner
  .wn-banner&attributes(attributes)
    .wn-banner__wrap
      .wn-banner__info
        p.wn-banner__title New Customers
        p.wn-banner__subtitle Open Account Offer
        p.wn-banner__text Up to $ 25 in Bet Credits
      button.wn-banner__btn Join Now
