mixin cs-game(status)
  .cs-game&attributes(attributes)
    if status
      case status
        when 0
          .cs-game__status.cs-game__status--new New
        when 1
          .cs-game__status.cs-game__status--bonus Bonus
        when 2
          .cs-game__status.cs-game__status--popular Popular
        default
          .cs-game__status.cs-game__status--popular Popular
    .cs-game__content
      .cs-game__img
        img(src="img/banners/1.png", alt="")
    .cs-game__footer
      p.cs-game__title Gonzos Quest Mega
      p.cs-game__subtitle Red tiger
