.cs-game-banner {
  @include size(300px, 90px);

  position: relative;
  flex-shrink: 0;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  background-color: #2f3346;
  overflow: hidden;

  &__img {
    @include size(100%);

    display: block;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    top: 15px;
    left: 10px;
    color: #fff;
  }
}
