mixin cs-game(status)
  .cs-game&attributes(attributes)
    if status
      case status
        when 0
          .cs-game__status.cs-game__status--new New
        when 1
          .cs-game__status.cs-game__status--bonus Bonus
        when 2
          .cs-game__status.cs-game__status--popular Popular
        default
          .cs-game__status.cs-game__status--popular Popular
    .cs-game__content
      .cs-game__img
        img(src="img/banners/1.png", alt="")
    .cs-game__footer
      p.cs-game__title Gonzos Quest Mega
      p.cs-game__subtitle Red tiger

mixin cs-game-info
  .cs-game&attributes(attributes)
    .cs-game__img
      img(src="img/banners/1.png", alt="")
    .cs-game__footer
      .cs-game__wrap
        p.cs-game__title Gonzos Quest Mega
        p.cs-game__number 270%
      .cs-game__wrap
        p.cs-game__subtitle Red tiger
        p.cs-game__subtitle RTP


mixin cs-game-small
  .cs-game&attributes(attributes)
    img(src="img/casino/small/1.png", alt="")

mixin cs-game-medium
  .cs-game&attributes(attributes)
    img(src="img/casino/wide/1.png", alt="")
    p.cs-game__label Pocker

mixin cs-game-category
  .cs-game&attributes(attributes)
    .cs-game__icon
      svg(width='100%', height='100%', viewBox='0 0 30 22', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(d='M28.8986 2.76322H23.1419V0.57567C23.1419 0.257728 22.8842 0 22.5663 0H16.4748C16.1569 0 15.8991 0.257728 15.8991 0.57567C15.8991 0.893613 16.1569 1.15134 16.4748 1.15134H21.9906V5.22501C19.0333 9.50846 17.1617 15.3762 17.0349 20.7187H11.9756C12.182 15.3751 15.2009 9.52147 18.1939 5.98985C18.3389 5.81876 18.3713 5.57911 18.277 5.37567C18.1827 5.17222 17.9789 5.04201 17.7547 5.04201H11.9343C11.6165 5.04201 11.3587 5.29974 11.3587 5.61768V6.40796H7.48371V1.15134H18.5405C18.8583 1.15134 19.1161 0.893613 19.1161 0.57567C19.1161 0.257728 18.8583 0 18.5405 0H6.90804C6.59016 0 6.33237 0.257728 6.33237 0.57567V2.76322H0.57567C0.257785 2.76322 0 3.02094 0 3.33889V7.97073C0 8.28867 0.257785 8.5464 0.57567 8.5464H3.39242C3.71031 8.5464 3.96809 8.28867 3.96809 7.97073V7.55987H7.25235C6.33036 8.80131 5.48648 10.2416 4.82297 11.7167C3.79413 14.0038 3.25035 16.2825 3.25035 18.3063C3.25035 18.6243 3.50813 18.882 3.82602 18.882H8.3345C8.65238 18.882 8.91017 18.6243 8.91017 18.3063C8.91017 14.5181 10.1955 10.435 12.3484 7.38384L12.3503 7.38096C12.449 7.27762 12.5101 7.13785 12.5101 6.98357V6.19329H16.5529C15.1878 7.97655 13.9334 10.0917 12.9614 12.2619C11.5559 15.4001 10.8131 18.5235 10.8131 21.2943C10.8131 21.6123 11.0709 21.87 11.3888 21.87H17.6039C17.9218 21.87 18.1796 21.6123 18.1796 21.2943C18.1796 16.686 19.5713 11.6075 21.884 7.55982H24.2168C23.2948 8.80125 22.4509 10.2416 21.7874 11.7166C20.7586 14.0038 20.2148 16.2824 20.2148 18.3063C20.2148 18.6242 20.4726 18.8819 20.7904 18.8819H25.2989C25.6168 18.8819 25.8746 18.6242 25.8746 18.3063C25.8746 14.4877 27.2137 10.2178 29.3691 7.16301C29.4376 7.06589 29.4744 6.94995 29.4744 6.83113V3.33883C29.4743 3.02094 29.2165 2.76322 28.8986 2.76322ZM6.33237 6.40853H3.39242C3.07454 6.40853 2.81675 6.66626 2.81675 6.9842V7.39506H1.15134V3.91456H6.33237V6.40853ZM7.76798 17.7306H4.41729C4.61486 14.0554 6.64847 10.0679 8.71386 7.55924H10.8516C9.00475 10.5219 7.87989 14.2193 7.76798 17.7306ZM28.323 6.65037C26.2059 9.7233 24.857 13.9012 24.7326 17.7307H21.3817C21.5846 13.9555 23.7248 9.85024 25.8467 7.35741C25.9922 7.1865 26.0251 6.94656 25.931 6.74283C25.8368 6.53904 25.6328 6.40859 25.4084 6.40859H22.5852C22.7331 6.18074 22.8834 5.95594 23.0373 5.73673C23.1054 5.63978 23.1419 5.52425 23.1419 5.40577V3.91462H28.323V6.65037Z')
    p.cs-game__subtitle Roulettes
    p.cs-game__text Games
    p.cs-game__title 123
