mixin c-options
  .c-options&attributes(attributes)
    .c-options__wrap
      .c-options__dropdown.c-options__dropdown--blue
        p.c-options__dropdown-text Unsettled
        .c-options__dropdown-icon
          svg(width='100%' height='100%' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M9 1L5 5L1 1')
        .c-options__dropdown-body
          .c-options__dropdown-item Item 1
          .c-options__dropdown-item Item 2
          .c-options__dropdown-item Item 1

      .c-options__dropdown
        p.c-options__dropdown-text Last 24 Hours
        .c-options__dropdown-icon
          svg(width='100%' height='100%' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M9 1L5 5L1 1')
        .c-options__dropdown-body
          .c-options__dropdown-item Item 1
          .c-options__dropdown-item Item 2
          .c-options__dropdown-item Item 1

    .c-options__divider
    .c-options__icon
      svg(width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M14.2788 1.03846H12.4615V0.259615C12.4615 0.116048 12.3455 0 12.2019 0H10.3846C10.241 0 10.125 0.116048 10.125 0.259615V1.03846H4.41346V0.259615C4.41346 0.116048 4.29741 0 4.15385 0H2.33654C2.19297 0 2.07692 0.116048 2.07692 0.259615V1.03846H0.259615C0.116048 1.03846 0 1.15451 0 1.29808V4.15385V15.3173C0 15.4609 0.116048 15.5769 0.259615 15.5769H14.2788C14.4224 15.5769 14.5385 15.4609 14.5385 15.3173V4.15385V1.29808C14.5385 1.15451 14.4224 1.03846 14.2788 1.03846ZM10.6442 0.519231H11.9423V1.29808V2.07692H10.6442V1.29808V0.519231ZM3.89423 0.519231H2.59615V1.29808V2.07692H3.89423V1.29808V0.519231ZM0.519231 1.55769H2.07692V2.33654C2.07692 2.48011 2.19297 2.59615 2.33654 2.59615H4.15385C4.29741 2.59615 4.41346 2.48011 4.41346 2.33654V1.55769H10.125V2.33654C10.125 2.48011 10.241 2.59615 10.3846 2.59615H12.2019C12.3455 2.59615 12.4615 2.48011 12.4615 2.33654V1.55769H14.0192V3.89423H0.519231V1.55769ZM0.519231 4.41346V15.0577H14.0192V4.41346H0.519231Z' fill='#6C90FC')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M9.34616 5.97113H7.52886H7.00962H5.19232H4.67309H2.33655V8.30767V8.8269V10.6442V11.1634V13.5H4.67309H5.19232H7.00962H7.52886H9.34616H9.86539H12.2019V11.1634V10.6442V8.8269V8.30767V5.97113H9.86539H9.34616ZM7.52886 6.49036H9.34616V8.30767H7.52886V6.49036ZM7.52886 10.6442H9.34616V8.8269H7.52886V10.6442ZM5.19232 8.8269H7.00962V10.6442H5.19232V8.8269ZM7.00962 6.49036H5.19232V8.30767H7.00962V6.49036ZM2.85578 6.49036H4.67309V8.30767H2.85578V6.49036ZM4.67309 8.8269H2.85578V10.6442H4.67309V8.8269ZM4.67309 12.9807H2.85578V11.1634H4.67309V12.9807ZM5.19232 12.9807H7.00962V11.1634H5.19232V12.9807ZM9.34616 12.9807H7.52886V11.1634H9.34616V12.9807ZM9.86539 12.9807H11.6827V11.1634H9.86539V12.9807ZM11.6827 10.6442H9.86539V8.8269H11.6827V10.6442ZM11.6827 8.30767V6.49036H9.86539V8.30767H11.6827Z' fill='#6C90FC')
