.c-message {
  @include size(100%, 77px);

  display: block;
  border-bottom: 1px solid rgba(#c2d3d4, 0.5);
  background-color: #fff;
  padding: 10px;
  overflow: hidden;

  &__wrap {
    @include flex(center);
  }

  &__cell {
    overflow: hidden;

    &:first-child {
      flex-shrink: 0;
      width: 32px;
    }

    &:last-child {
      flex-grow: 1;
    }
  }

  &__block {
    @include flex($align-items: center);

    margin-bottom: 10px;
    width: 100%;
  }

  &__title {
    @include ellipsis;

    flex-grow: 1;
    padding-right: 10px;
    font-weight: 500;
  }

  &__date {
    color: #b5b7c6;
    font-size: 11px;
  }

  &__text {
    height: 30px;
    overflow: hidden;
  }

  &__checkbox {
    @include size(16px);

    position: relative;
    flex-shrink: 0;
    margin: 0 auto 0 0;
    color: #696a76;

    &::before {
      @include size(16px);

      position: absolute;
      top: 0;
      border: 1px solid #696a76;
      border-radius: 2px;
      background: #fff;
      content: '';
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      font-size: 16px;
      font-weight: 700;
      content: '\2713';
    }

    &:checked {

      &::after {
        opacity: 1;
        color: #fff;
      }

      &::before {
        background: $blue;
      }
    }

    &:focus {
      outline: 0;
      border: 0;
    }
  }

  &--old {
    background-color: #f1f3f7;

    .c-message {

      &__title,
      &__text {
        opacity: 0.5;
      }

      &__title {
        font-weight: 400;
      }
    }
  }
}
