mixin c-message
  a.c-message&attributes(attributes)
    .c-message__wrap
      .c-message__cell
        input(type="checkbox" id="bonus").c-message__checkbox
      .c-message__cell
        .c-message__block
          p.c-message__title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi, asperiores assumenda at distinctio dolore doloremque est eum, illo nobis officiis perferendis porro quaerat qui quisquam temporibus vel vero, voluptatibus.
          p.c-message__date 21:00
        p.c-message__text Не уверен в исходе матча? Мы застрахуем бонусом твою ставку, а тебе останется лишь…
