.cs-games {
  padding: 35px 0;

  &__block {
    margin-bottom: 35px;
  }

  &__list {
    @include flex($align-items: center);

    padding: 0 5px;
    overflow-x: hidden;
    white-space: nowrap;
  }

  &__slide {
    margin-right: 5px;
  }

  &__headline {
    @include flex($align-items: center);

    margin-bottom: 10px;
    padding: 0 5px;
    line-height: 1.5;
    color: #fff;
    font-size: 16px;
  }

  &__button {
    @include reset-button;

    margin-right: 0;
    margin-left: auto;
    border: 1px solid rgba(#fff, 0.5);
    border-radius: 27px;
    min-width: 70px;
    height: 28px;
    color: rgba(#fff, 0.5);

    &--active {
      border-color: #fff;
      color: #fff;
    }
  }

  &__icon {
    @include flex(center, center);
    @include size(20px);

    margin-right: 5px;
  }

  &__text {
    @include ellipsis;

    margin-right: 10px;
    line-height: 1.2;
  }
}
