mixin ipe-header
  .ipe-header&attributes(attributes)
    .ipe-header__wrap
      a.ipe-header__link.ipe-header__link--active Main
      a.ipe-header__link Goals
      a.ipe-header__link Half
      a.ipe-header__link Corners
      a.ipe-header__link Cards
      a.ipe-header__link Cards
      a.ipe-header__link My markets
      a.ipe-header__link Special offer
