mixin cs-header(text)
  a.cs-header&attributes(attributes)
    span.cs-header__icon
      svg(width='100%' height='100%' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M5 9L1 5L5 1' stroke='#9A9B9F')
    span.cs-header__text= text
