include h-nav/_index

mixin header-in
  header.header&attributes(attributes)
    +h-nav-in

mixin header-logout
  header.header&attributes(attributes)
    +h-nav-logout

mixin header-sports
  header.header&attributes(attributes)
    +h-nav-sports
