mixin cb-upload
  .cb-uploadm&attributes(attributes)
    .cb-upload__body
      .cb-upload__drop
        .cb-upload__img
          svg(width='24' height='31' viewBox='0 0 24 31' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(opacity='0.2' d='M23.9451 7.28764V29.6711C23.9451 29.9586 23.712 30.1916 23.4246 30.1916H0.520546C0.233056 30.1916 0 29.9586 0 29.6711V0.520546C0 0.233056 0.233056 0 0.520546 0H16.6575L23.9451 7.28764Z' fill='#1A1E30')
            path(d='M17.178 7.28764H23.9451L16.6575 0V6.76709C16.6575 7.05458 16.8905 7.28764 17.178 7.28764Z' fill='#E3E3E3')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M15.0229 15.4707L5.726 30.1917H0.520546C0.233056 30.1917 0 29.9586 0 29.6712V22.4824L5.80929 13.7685L7.07421 15.2104C7.16729 15.3171 7.29982 15.3813 7.44125 15.3882C7.58269 15.3951 7.72082 15.344 7.8238 15.2468L9.27092 13.8726C9.47374 13.6853 9.78645 13.6853 9.98927 13.8726L11.4364 15.2468C11.5394 15.344 11.6775 15.3951 11.8189 15.3882C11.9604 15.3813 12.0929 15.3171 12.186 15.2104L13.6279 13.5707L15.0229 15.4707Z' fill='#ACACAC')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M23.9451 19.5725V29.6711C23.9451 29.9586 23.7121 30.1916 23.4246 30.1916H5.72601L15.023 15.4706L15.0438 15.4394L15.5279 15.9599C15.7386 16.1835 16.0887 16.1997 16.3191 15.9964L17.8443 14.6221C18.0595 14.4359 18.3788 14.4359 18.5939 14.6221L20.1191 15.9964C20.3495 16.1997 20.6996 16.1835 20.9103 15.9599L21.3736 15.4602L23.9451 19.5725Z' fill='#CACACA')
            path(d='M5.72631 7.28795C6.58878 7.28795 7.28795 6.58878 7.28795 5.72631C7.28795 4.86384 6.58878 4.16467 5.72631 4.16467C4.86384 4.16467 4.16467 4.86384 4.16467 5.72631C4.16467 6.58878 4.86384 7.28795 5.72631 7.28795Z' fill='white')
            path(d='M13.6279 13.5706L12.1859 15.2104C12.0929 15.3171 11.9603 15.3813 11.8189 15.3881C11.6775 15.395 11.5393 15.344 11.4364 15.2468L9.98925 13.8725C9.78643 13.6852 9.47371 13.6852 9.27089 13.8725L7.82378 15.2468C7.72079 15.344 7.58266 15.395 7.44123 15.3881C7.29979 15.3813 7.16726 15.3171 7.07419 15.2104L5.80927 13.7684L8.78158 9.30736C8.96985 9.02628 9.28367 8.85503 9.62192 8.84881C9.96017 8.84258 10.2801 9.00217 10.4786 9.27613L13.6279 13.5706Z' fill='#E3E3E3')
            path(d='M21.3736 15.4601L20.9103 15.9599C20.6996 16.1835 20.3495 16.1996 20.1191 15.9963L18.5939 14.6221C18.3787 14.4358 18.0594 14.4358 17.8443 14.6221L16.3191 15.9963C16.0887 16.1996 15.7386 16.1835 15.5279 15.9599L15.0438 15.4393L17.3342 11.8111C17.5263 11.509 17.8599 11.3265 18.2179 11.3275C18.576 11.3286 18.9085 11.5131 19.0988 11.8163L21.3736 15.4601Z' fill='white')
        .cb-upload__title Drop yor image here, or
          label(for="file").cb-upload__label browse
          input(type='file' name='file' id="file").cb-upload__file
        p.cb-upload__text Valid file formats: jpg, jpeg, gif, no more than 5 MB in size.
