mixin cs-game-rtp
  .cs-game-rtp&attributes(attributes)
    .cs-game-rtp__img
      img(src="img/banners/1.png", alt="")
    .cs-game-rtp__content
      .cs-game-rtp__block
        p.cs-game-rtp__title Gonzos Quest Mega
        p.cs-game-rtp__subtitle Red tiger
      .cs-game-rtp__wrap
        p.cs-game-rtp__number 270%
        p.cs-game-rtp__subtitle RTP
